@page
@model IdentityPass.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}


<div class="container border p-5">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="@Model.Credential.Username"></label>
            </div>
            <div class="col-3">
                <input asp-for="@Model.Credential.Username" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Credential.Username" class="text-danger"></span>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="@Model.Credential.Password"></label>
            </div>
            <div class="col-3">
                <input asp-for="@Model.Credential.Password" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Credential.Password" class="text-danger"></span>
        </div>
        <div class="row form-check mb-2">
            <div class="col-2">
                <input type="checkbox" class="form-check-input" asp-for="@Model.Credential.RememberMe" />
                <label class="form-check-label" asp-for="@Model.Credential.RememberMe"></label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <input type="submit" class="btn btn-primary form-control" />
            </div>
        </div>
    </form>
</div>